@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import "tailwindcss";

.font-kaisei {
  font-family: "Kaisei Opti", serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  /* 合成フォントを作らないようにする */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  /* 文字を滑らかに */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --main-color: #1e40af;
  --base-color: #fff4dade;
  --text-color: #111827; */
}
@layer base {
  body {
    @apply bg-orange-50 text-orange-950 text-center;
  }

  a {
    @apply text-orange-950 hover:text-orange-700;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  p {
    @apply mb-2;
  }

  button {
    @apply mt-6 bg-orange-400 text-white font-semibold py-2 px-4 rounded-full hover:bg-orange-300 cursor-pointer;
  }
  .region-button {
    @apply mt-4 sm:mx-2 m-auto bg-orange-100 text-orange-950 border border-orange-900 font-semibold py-2 px-4 rounded-full hover:bg-orange-200 cursor-pointer sm:inline-block block w-full sm:w-auto;
  }
  .answer-button {
    @apply m-2 bg-stone-900 border border-stone-200 text-white font-semibold py-2 px-4 rounded hover:bg-stone-600 cursor-pointer;
  }
  main {
    @apply my-10 mx-auto px-4 py-6 max-w-4xl w-full;
  }

  .logo {
    @apply text-orange-700 font-bold text-xl;
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}
